{% extends "index.html" %}
{% block body %}
{% if filenames %}
  <form action="{{ url_for('store_annotation_batch') }}" class='annotate_batch' method="POST">
  {% for filename in filenames %}
    <label>
      <input type="hidden" name="files_all" value="{{filename}}"/>
      <input type="checkbox" name="files_checked" value="{{filename}}"/>
      <img src="{{ url_for('get_file', filename=filename) }}" style="">
    </label>
  {% endfor %}
    <input name="username" type="hidden" value="{{username}}">
    <hr>
    <button id="submit" name="result" type="submit">[space] Submit</button>
  </form>
{% endif %}

{% if prev_filenames %}
<form action="{{ url_for('previous_batch') }}" method="POST">
  {% for filename in prev_filenames %}
  <input type="hidden" name="files_prev" value="{{filename}}"/>
  {% endfor %}
  <button id="back" type="submit">[tab] Back</button>
</form>
{% endif %}

{% include "leaderboard.html" %}

<script>
var cancelTimeout = 30*1000 // 20 seconds

$(document).ready(function() {

  $(document).keydown(function(e) {
    var space = 32;
    var tab = 9;
    console.log('key:', e.which)

    var keyCode = e.keyCode || e.which;
    switch(keyCode) {
      case space:
        e.preventDefault();
        $('#submit').click();
        break;
      case tab:
        e.preventDefault();
        $('#back').click();
        break;
    }
  });

  setTimeout(function(){
    var baseUrl = window.location.origin;
    // var urlSuffix = "{{ url_for('cancel_annotation', filename=filename) }}";
    var urlSuffix = "{{ url_for('cancel_batch_annotation') }}";
    console.log('timeout reach, cancel annotation', baseUrl + urlSuffix);

    window.location.href = baseUrl + urlSuffix;
  }, cancelTimeout)
})
</script>
{% endblock %}
