{% extends "index.html" %}
{% block body %}
<h3>{{ filename }}</h3>

{% if filename %}
<img src="{{ url_for('get_file', filename=filename) }}">

<form action = "{{ url_for('store_annotation') }}" method = "POST">
  <input name="filename" type="hidden" value="{{filename}}">
  <input name="username" type="hidden" value="{{username}}">
  <button id="btn1" name="result" type="submit" value="1">[1] True</button>
  <button id="btn2" name="result" type="submit" value="0">[2] False</button>
  <button id="skip" name="result" type="submit" value="don't know">[3] Don't know</button>
</form>
{% else %}
Everything done!
{% endif %}

{% if prev_filename %}
<form action = "{{ url_for('annotate') }}" method = "GET">
  <input name="filename" type="hidden" value="{{prev_filename}}">
  <button id="back" type="submit" value="don't know">[space] Back</button>
</form>
{% endif %}

{% include "leaderboard.html" %}

<script>
var cancelTimeout = 15*1000 // 20 seconds

$(document).ready(function() {

  $(document).keypress(function(e) {
    var number1 = 49;
    var number2 = 50;
    var number3 = 51;
    var space = 32;

    switch(e.which) {
      case number1:
        $('#btn1').click()
        break;
      case number2:
        $('#btn2').click()
        break;
      case number3:
        $('#skip').click()
        break;
      case space:
        $('#back').click()
        break;
    }
  });

  setTimeout(function(){
    var baseUrl = window.location.origin;
    var urlSuffix = "{{ url_for('cancel_annotation', filename=filename) }}";
    console.log('timeout reach, cancel annotation', baseUrl + urlSuffix);

    // alert('You were inactive for too long, annotation cancelled');
    window.location.href = baseUrl + urlSuffix;
  }, cancelTimeout)
})
</script>
{% endblock %}
