{% extends "index.html" %}
{% block body %}
<h3>{{ username }} history</h3>
<table>
  <tr><th>file</th><th>result</th><th></th><tr>
{% for row in history %}
  <tr>
    <td>{{ row[0] }}:</td>
    <td>{{row[1]}}</td>
    <td><a href="{{ url_for('annotate', filename=row[0]) }}">change</a></td>
  </tr>
{% endfor %}
</table>
{% endblock %}
