<!doctype html>
<head>
  <title>Annotations</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   <script
     src="https://code.jquery.com/jquery-3.4.1.min.js"
     integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
     crossorigin="anonymous">
  </script>
</head>
<body>
<big>| Annotations ||
  <a id='btn_annotate' href='annotate_batch'><b>Go Annotate!</b></a> ||
  <a href='/'>Home</a> |
  <a href='/leaderboard'>Leaderboard</a> |
</big>
Annotated files so far: <span id="annotated_files">?</span> |
Annotating as: <b>{{ username }}</b> | <a id='change_username' href='#'>change</a> | <a href='history'>history</a>
<hr>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if username %}
{% block body %}{% endblock %}
{% endif %}

<script type=text/javascript>

var username_cookie = "username"

function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  var expires = "expires="+d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getUserName() {
  var username = getCookie(username_cookie);
  if (username != "") {
    console.log("loaded user from cookie:", username);
  } else {
    username = prompt("Please enter your name:", "");
    if (username != "" && username != null) {
      setCookie(username_cookie, username, 365);
      location.reload();
    }
  }
  return username
}

function loadFileStats() {
  var scriptRoot = {{ request.script_root|tojson|safe }};
  console.log('sending request to', scriptRoot + '/file_stats')
  $.getJSON(scriptRoot + '/file_stats', function(result_data){
    console.log('file stats data');
    console.log(result_data);
    $("#annotated_files").text(result_data.result);
  });
}


$(document).ready(function() {
  console.log("loaded");
  username = getUserName();
  console.log("user:", username);

  loadFileStats();

  $("#change_username").click(function(){
    console.log("change username from:", username);
    setCookie(username_cookie, "");
    username = getUserName();
    console.log("changed username to:", username);
    location.reload();
  });

});

</script>
</body>
