{% if user_stats %}
  <table class="leaderboard">
    <tr><th colspan="3">leaderboards</th></tr>
    <tr><th>name</th><th>count</th><th>mean time (s)</th></tr>
    {% for row in user_stats %}
      <tr>
        <td> {{ row[0]|safe }} </td>
        <td> {{row[1]}} </td>
        <td> {{ "%.2f"|format(row[2]) }} </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
