.leaderboard {
  position: fixed;
  right: 1rem;
  top: 1rem;
  border: 1px solid black;
  background: white;

  -webkit-transition: opacity 0.15s ease-in-out;
     -moz-transition: opacity 0.15s ease-in-out;
      -ms-transition: opacity 0.15s ease-in-out;
       -o-transition: opacity 0.15s ease-in-out;
          transition: opacity 0.15s ease-in-out;
}
.leaderboard:hover {
  opacity: 0;
}

.flashes {
  list-style-type: none;
}

.flashes > li {
  border: 1px solid blue;
  padding: 0.3rem;
  background: #e1f5fe;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.annotate_batch label {
  position: relative;
}
.annotate_batch img {
  border: 0.5rem solid white;
}

.annotate_batch input[type=checkbox] {
  display: none;
}
.annotate_batch input[type=checkbox]:checked + img {
  border: 0.5rem solid green;
}
